.card {
  width: 400px;
}

.card-img-top {
  max-width: 450px;
  margin: 0 auto;
  max-height: 300px;
}

.card-footer > button {
  float: right;
  margin-left: -50%;
}

.card-footer > h5 {
  margin-top: 0.5rem;
}
